<!-- Highlight Card -->
<div class="card highlight-card card-small">

    <svg id="rocket" xmlns="http://www.w3.org/2000/svg" width="101.678" height="101.678" viewBox="0 0 101.678 101.678">
      <title>Rocket Ship</title>
      <g id="Group_83" data-name="Group 83" transform="translate(-141 -696)">
        <circle id="Ellipse_9" data-name="Ellipse 9" cx="50.839" cy="50.839" r="50.839" transform="translate(141 696)"
          fill="#dd0031" />
        <circle id="Ellipse_8" data-name="Ellipse 8" cx="50.839" cy="50.839" r="40.839" transform="translate(141 696)"
          fill="#ffffff" />
        <circle id="Ellipse_7" data-name="Ellipse 7" cx="50.839" cy="50.839" r="30.839" transform="translate(141 696)"
          fill="#dd0031" />
        <circle id="Ellipse_6" data-name="Ellipse 6" cx="50.839" cy="50.839" r="20.839" transform="translate(141 696)"
          fill="#ffffff" />
        <circle id="Ellipse_5" data-name="Ellipse 5" cx="50.839" cy="50.839" r="10.839" transform="translate(141 696)"
          fill="#dd0031" />
        <circle id="Ellipse_4" data-name="Ellipse 4" cx="50.839" cy="50.839" r="05.839" transform="translate(141 696)"
          fill="#ffffff" />
        <circle id="Ellipse_3" data-name="Ellipse 3" cx="50.839" cy="50.839" r="0.839" transform="translate(141 696)"
          fill="#dd0031" />
      </g>
    </svg>

    <span>{{ title | uppercase }} </span>



  </div>